.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.site-layout-background {
  background-color: #fff;
}

.left-sider {
  background-color: #fff;
  .logo {
    height: 64px;
    margin: 0;
    text-align: center;
    line-height: 64px;
    color: #fff;
    background-color: #000;
  }
}

.main-container {
  height: 100%;
  .list-main {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
  }
}

.site-content {
  padding: 24px;
  margin: 0;
}
